<h4>Internal Server Error - refreshing the page will make the error disappear!</h4>
<ng-container>
    <h5 class="">Error:{{error.massage}}</h5>
    <p class="font-weight-bold">Note: If you are seeing this then Angular is probabely not to blame</p>
    <p>What to do next?</p>
    <ol>
        <li>Open the chrome dev tools</li>
        <li>Inspect the netowork tab</li>
        <li>Check the failing request</li>
        <li>Examine the request url and make sure it is correct</li>
        <li>Reproduce the error in Postman - if we see the same response, then the issue is not with the Angular</li>
    </ol>
    <p>Following is the stack trace - this is where youe investifation start!</p>
    <code class="mt-5" style="background-color: whitesmoke;">{{error.details}}</code>
</ng-container>